{% extends "base.html" %}

{% block title %}商品登録{% endblock %}

{% block content %}

<h2 align="center">商品登録</h2>

<form method="post" action="/add">

  <table align="center" cellpadding="10">
    <tr>
      <td align="right">商品名</td>
      <td>
        <input type="text" name="item_name" required>
      </td>

      <td align="right">店名</td>
      <td>
        <input type="text" name="shop_name" required>
      </td>

      <td align="right">金額（円）</td>
      <td>
        <input type="number" name="price" required>
      </td>
    </tr>

    <tr>
      <td colspan="6" align="center">
        <button type="submit">登録する</button>
      </td>
    </tr>
  </table>

</form>

<br>

<div align="center">
  <a href="/dashboard" class="btn">← ダッシュボードへ戻る</a>
</div>

{% endblock %}
