<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}価格比較アプリ{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="header">
  <h1 class="app-title">くらベルン</h1>
</header>

<nav class="nav">
  <a href="/dashboard">🏡<span>ダッシュボード</span></a>
  <a href="/compare">⚖️<span>価格比較</span></a>
  <a href="/add">📝<span>商品登録</span></a>
  <a href="/history">🕘<span>履歴</span></a>
  {% if session.get("logged_in") %}
    <a href="/logout" class="logout">🚪<span>ログアウト</span></a>
  {% endif %}
</nav>


<main class="container">
  {% block content %}{% endblock %}
</main>

</body>
</html>
